$color-periwinkle-gray: #b2c7e2;
$color-white: #fff;
$color-regent-st-blue: #A1BEE6;
$color-cloud-burst: #1C304A;
$color-fiord: #415a67;
//colors for award
$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetti: #eacb5f;


$color-gumbo: #7ea1a6;
$color-terracotta: #e97568;
$color-geraldine: #fb9e91;
$color-fiord: #415a67;
$color-manatee: #8a8fa2;
$color-blue-ribbon: #333FFF;
$color-yellow-sea: #FFAB01;
$color-cyan-aqua: #33DFFF;
$color-downriver: #08224C;
$color-royal-blue: #4583E5;
$color-sunglow: #FFBF3D;
$color-carrot-orange: #ee8e28;
$color-yellow-green: #cbdb83;
$color-robins-egg-blue: #00beb4;
$color-violet-red: #f5358b;
$color-blue-bayoux: #465F6D;
$color-mineshaft: #333333;