.projects {
    background: $color-blue-bayoux;
    color: $color-white;
    padding: 0rem 0rem 2rem;
  }
  
  .project__details,
  .project__input {
    display: none;
  }
  
  .project__input:checked + .project__title + .project__details {
    display: inherit;
  }
  
  .projects__header {
    color: $color-white;
    @extend %header;
  }
  
  
  .project__title {
    border:0.3rem solid $color-white;
    color: $color-white;
    display: block;
    justify-content: space-between;
    font-size: 2rem;
    padding:1rem;
    border-radius: 2rem;
    font-weight: bold; 
    transition: 0.5s;
    width: 77%;
    margin:auto;
    margin-top: 0.5rem;
    cursor: pointer;
    
    &:hover {
      background-color: $color-sunglow;
      color: $color-white;
    }
  }
  
  .project__top {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: $color-white;
    margin: 0.2rem 0.3rem;
  }
  
  .project__url {
    text-decoration: none;
    color: $color-fiord;
    font-weight: bold;
    transition: 0.5s;
  
    &:hover {
      color: $color-sunglow;
    }
  }
  
  .project__type {
    font-weight: bold;
    color: $color-fiord;
  }
  
  .project__url,
  .project__type {
    font-size: 1.3rem;
    padding: 0rem 0.5rem;
    margin: 0.7rem 0rem;
  }
  
  .project__details {
    border: 0.3rem solid $color-white;
    width: 65%;
    margin: auto;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  
  .project__stage {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 0rem 1rem 0.5rem 1rem;
  }
  
  .my-cv__icon--plus {
    float:right;
    transition: 0.5s;
    pointer-events: none;
  
    &:hover {
      color: $color-fiord;
    }  
  }
  
  .project__input:checked + .project__title {
    .my-cv__icon--plus {
      pointer-events: all;
      transform: rotateZ(45deg);
      transition: 0.5s;    
      cursor: pointer;
    }
    background-color: $color-sunglow;
  }