-
  var myFullName = 'Pavel Ciupitu'
  var myJobTitle = 'Junior Web Developer'
#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=myFullName
    h2.landing-page__title=myJobTitle
    ul.landing-page__social
      li.landing-page__item
        label.landing-page__label(for="")
          span(clas=`my-cv__icon--home`)
