-
  var myFullName = 'Pavel Ciupitu'
  var myJobTitle = 'Junior Web Developer'
  var socialList = [
    {
      icon: 'google-plus2', url: 'http://plus.google.com'
      },
    {
      icon: 'twitter', url: 'https://twitter.com/CiupituPavel'
      },
    {
      icon: 'youtube', url: 'https://www.youtube.com/channel/UCtBnHtpX_aBD8n4-MUhvAlQ'
      },
    {
      icon: 'facebook2', url: 'http://facebook.com/pavelciupitu'
      },
    {
      icon: 'stackoverflow', url: 'https://stackoverflow.com/users/11681133/pavel-ciupitu'
      },
    {
      icon: 'youtube', url: 'http://youtube.com/pavelciupitu'
      },
    {
      icon: 'youtube', url: 'http://youtube.com/pavelciupitu'
      },
    {
      icon: 'youtube', url: 'http://youtube.com/pavelciupitu'
      },
  ]
#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=myFullName
    h2.landing-page__title=myJobTitle
    ul.landing-page__social
      each social in socialList
        li.landing-page__item
          label.landing-page__label(for="")
            span(class=`my-cv__icon--${social.icon}`)