-
    var menuList = [
        {
            label:'Home',
            icon:'home',
            link:'#landing-page',
        },
        {
            label:'About me',
            icon:'wondering',
            link:'#about-me',
        },
        {
            label:'Awards',
            icon:'trophy',
            link:'#award',
        },
        {
            label:'Skills',
            icon:'cogs',
            link:'#skills',
        },
        {
            label:'My projects',
            icon:'hammer',
            link:'#projects',
        },
        {
            label:'My favorites',
            icon:'briefcase',
            link:'#client',
        }
        ]
#menu
a.menu__go-to(href="#menu")
    span.my-cv__icon--menu3
.menu
    .menu_list
        each menu in menuList
            a.menu__link(href=menu.link)
                span(class=`my-cv__icon--${menu.icon}`)
                span.menu__label=menu.label


//- a.menu_link(href='#about-me')
//-         span.my-cv__icon--wondering
//-         span About Me

//-     a.menu_link(href='#award')
//-         span.my-cv__icon--trophy
//-         span Awards

//-     a.menu_link(href='#skills')
//-         span.my-cv__icon--cogs
//-         span Skills

//-     a.menu_link(href='#projects')
//-         span.my-cv__icon--briefcase
//-         span My Projects

//-     a.menu_link(href='#client')
//-         span.my-cv__icon--calendar
//-         span My recent clients
