#menu
.menu

    a.menu_link(href='#landing-page')
        span.my-cv__icon--home
        span Home

    a.menu_link(href='#about-me')
        span.my-cv__icon--wondering
        span About Me

    a.menu_link(href='#award')
        span.my-cv__icon--trophy
        span Awards

    a.menu_link(href='#skills')
        span.my-cv__icon--cogs
        span Skills

    a.menu_link(href='#projects')
        span.my-cv__icon--briefcase
        span My Projects

    a.menu_link(href='#client')
        span.my-cv__icon--calendar
        span My recent clients
