extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = 'My CV - Pavel Ciupitu';
    var myDescriptionForGoogleSearch = 'This is made using Pure HTML5 and CSS3 techniques';
block asewome-content
  h1 this is it - test test test