extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = 'My CV - Pavel Ciupitu';
    var myDescriptionForGoogleSearch = 'This is made using Pure HTML5 and CSS3 techniques';
block asewome-content
  include _component/landing-page/landing-page
  include _component/about-me/about-me
  include _component/award/award
  include _component/skills/skills
  include _component/projects/projects
  include _component/client/client
  include _component/menu/menu