.landscape,
.landscape__input {
    display: none;
}

.landscape {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    background-color: $color-royal-blue;
    transition: 0.4s;
}

// .label.landscape_button {
//     justify-content: center;
// }

.landscape_button {
    display: block;
    background-color: $color-sunglow;
    color: $color-blue-bayoux;
    position: fixed;
    top: 1rem;
    left: middle;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration:none;
    border: 0.3rem solid $color-blue-bayoux;
    // display:none;
}

.landscape__description {
    padding: 2rem 0;
}

@media (orientation: landscape) {
    .landscape {
        display:flex;
        // align-items:center;
        justify-content: center;
        font-size: 2rem;
        color: $color-white;
        padding: 6rem;
    }

    .landscape__list {
        list-style-type: disc;
    }
    
    .landscape__message--show {
        display:none;
    }

    #landscape:checked + .landscape {
        top: -100%;
    }


}