.landscape,
.landscape__input {
    display: none;
}

.landscape {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-fiord;
    transition: 0.6s;
}

// .label.landscape_button {
//     justify-content: center;
// }

.landscape__button {
    display: block;
    background-color: $color-blue-bayoux;
    color: $color-white;
    position: fixed;
    top: 1rem;
    // left: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 4rem;
    text-decoration: none;
    border: 0.3rem solid $color-white;
    // display:none;
}

.landscape__description {
    padding: 2rem 0;
}

@media (orientation: landscape) {
    .landscape {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: 2rem;
    }

    .landscape__list {
        list-style-type: disc;
    }

    .landscape__message--show {
        display: none;
    }

    
    .landscape__message--hide {
        display: block;
    }
    
    #landscape:checked + .landscape {
        top: -100%;
    
        .landscape__message--show {
            display: block;
        }

        .landscape__button {
            transition: 0.5s;
            top: 1rem;
            right: 0.3rem;
            font-size: 2rem;
          }
        
        .landscape__message--hide {
            display: none;
        }
    }
}