-
    var show = 'Show message';
    var hide = 'Hide message';
    var description_list = [
        'Your screen is in landscape mode',
        'To view the website at its best you can:',
    ];
    var itemList = [
        'rotate your device in portrait',
        'resize your browser to portrait',
        'ignore all the above and hide this message',
    ]

input.landsca_input(type="checkbox", id="landscape")
.landscape
    label.landscape_button(for="landscape")
        .landscape__message--show=show
        .landscape__message--show=hide
    .landscape__body
        each text in description_list
            .landscape__description=text
        ul.landscape__list 
            each item in itemList
                li.landscape__item=item